body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background-color: pink;
}

main {
  background-color: lavender;
}

footer {
  background-color: lightgreen;
 
}

article {
  background: white;
}
